*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(36, 36, 77);
}
.Calculator{
  position: relative;
  display: grid;
}
.Calculator .value{
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
}
.Calculator span{
  display: grid;
  width: 60px;
  height: 60px;
  color: aliceblue;
  background: rgb(30, 30, 63);
  place-items: center;
  border: 2px solid white;
  cursor: pointer;
}
.Calculator span:active{
  color: red;
  background: rgb(214, 218, 23);
}
.Calculator span.clear{
  grid-column: span 2;
  width: 120px;
  background: rgb(255, 4, 234);
}
.Calculator span.plus{
  grid-row: span 2;
  height:120px;
}
.Calculator span.equal{
  background: rgb(4, 47, 167);
}